<!--<li><%= link_to "Contact", contact_path %></li>-->

<% if !user_signed_in? %>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <li><%= link_to "Join", new_user_registration_path %></li>
<% else %>
<!-- <li><%= link_to "Protected Page", inside_path %></li> -->
<li><%= link_to "Submit Art", new_post_path %></li>
<!-- <%= image_tag(current_user.image.url(:small)) %> -->
<%= link_to image_tag('default_icon.jpg', :width => 38, :height => 38), user_path(current_user) %>

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      <%= current_user.fullname %>
      <span class="caret"></span>
    </a>
	<ul class="dropdown-menu" role="menu">
		<li><%= link_to "My Profile", user_path(current_user) %> </li>
		<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
		<li><a href="#">Account Settings</a></li>
		<li><%= link_to "Sign Out", destroy_user_session_path, data:{method: :delete} %></li>
	</ul>
</li>

<% if current_user.admin? %>
<li><%= link_to "Admin", admin_root_path %></li>
<% end %>
<% end %>
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Our Team", our_team_path %></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Media</a></li>
            <li class="divider"></li>
            <li><%= link_to "Terms", terms_path %></li>
			<li><%= link_to "Privacy", privacy_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>
          </ul>
</li>
